.error {
  text-align: center;
  color: red;
}
.noError {
  text-align: center;
  color: darkgreen;
}

.form-group {
  margin-bottom: 15px;
}
button {
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 12px;
  outline: none;
  line-height: 95%;
  white-space: nowrap;
  vertical-align: middle;
  margin-left: 10px;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-height: 32px;
}

#chat-page {
  text-align: center;
}
.chat-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  margin-top: 30px;
  height: calc(100% - 60px);
  max-height: 600px;
  position: relative;
}

.chat-header {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ececec;
}

.input {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
