<div class="filtered-user-list-container">
  <div class="simple-users-filter">
    <input matInput type="text" placeholder=" Search user..." name="search" class="search-input"
           [(ngModel)]="searchExpression" minlength="2">
    <button (click)="search()" class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav position="end" mode="side" opened style="width: 20%">
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="filtered-user-list-container">
      <ng-container *ngIf="!selectedPage.array; then loading; else loaded"></ng-container>
      <ng-template #loading>
        <p class="loading">Loading...</p>
      </ng-template>
      <ng-template #loaded>
        <ng-container *ngIf="selectedPage.array.length > 0; then hasresults; else noresults"></ng-container>
        <ng-template #hasresults>
          <div class="users-page">
            <app-users-list [page]="selectedPage"></app-users-list>
            <mat-paginator [pageSize]="selectedPage.pageSize" [length]="selectedPage.countPages * selectedPage.pageSize"
                           [pageIndex]="selectedPage.currentPage" (page)="handlePage($event)">
            </mat-paginator>
          </div>
        </ng-template>
        <ng-template #noresults>
          <p class="no-result" *ngIf="wasSearch">No results found</p>
        </ng-template>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
