/* Mobile screen*/


@media screen and (max-width: 767px) {


  footer{
    max-width: 100%;
    height: auto;
    background-image:url(../../../assets/images/header-image-2.jpg);
    filter: brightness(70%);
    color: white;
    clear: both;
    height: auto;
    text-align: center;
    padding: 1vh 2vw;


  }


}


/* Tablet screen + version */

@media screen and (min-width: 768px) {

  footer{
    max-width: 100%;
    height: auto;
    background-image:url(../../../assets/images/header-image-2.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    filter: brightness(70%);
    color: white;
    text-align: center;
    padding: 1vh 2vw;
  }





}
