/*Mobile  screens*/

@media screen and (max-width: 767px){

  button {
    width: 50px;
    height: auto;
    background: linear-gradient(to bottom left, rgb(101, 115, 255), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(206, 107, 168));
    padding: 1vh 1vw;
    color: white;
    outline-style: none;
    border: none;
    border-radius: 2px;
    font-size: 12px;
  }

  mat-icon{
    margin-bottom: 50px;
  }

  button:hover{

    background: rgb(0,0,255,0.5);
    color: gray;
    outline-style: none;
  }


  input{
    height: auto;
    width: 65vw;
  }

  form{
    width: 65vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    max-height: 35px;

  }

}
 /*Large screens +*/
 @media screen and (min-width: 768px){

    button {
    width: 5vw;
    height: auto;
    background: linear-gradient(to bottom left, rgb(101, 115, 255), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(206, 107, 168));
    padding: 1vh 1vw;
    color: white;
    outline-style: none;
    border: none;
    border-radius: 2px;
    font-size: 2vw;
  }

  mat-icon{

  }

  button:hover{

    background: rgb(0,0,255,0.5);
    color: gray;
    outline-style: none;


  }

  input{
    height: auto;
    width: 65vw;
  }

  form{
    width: 65vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    max-height: 40px;
  }

 }
