.container{
  margin-top: 200px;
 }

 .glyphicon-search{
  font-size: 20px;
  color: white;
 }

 .btn-default{
  background: linear-gradient(to bottom left, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168));;
  width: 100px;
  padding: 12.5px;
  filter: brightness(70%);
 }

 .form-control{
  padding: 25px;
  font-size: 20px;
 }

 form{
  width: 50vw;
  margin: auto;
  margin-top: 50px;

 }
