<div class="container">
  <div class="details">

    <div class="avatar">
      <a [href]="profile.photoPath" referrerpolicy="no-referrer" target="_blank">
        <img class="avatar-image"
             [src]="profile.photoPath" alt="Avatar" (error)="profile.photoPath = 'assets/images/default_avatar.jpg'">
      </a>
    </div>

    <div class="info">
      <span>Full name: {{profile.fullName}}</span>
      <span>Email: {{profile.email}}</span>
      <span>Registered at: {{profile.createdAt | date: ('MMM d, y')}}</span>
    </div>
  </div>

  <div class="user-actions">
    <button *ngIf="canEdit()" class="button" mat-flat-button color="primary" [routerLink]="['edit']">
      Edit profile
    </button>
    <button *ngIf="isLogged" class="button" mat-flat-button color="primary" [routerLink]="['/activities']">View
      activities
    </button>
    <button *ngIf="isLogged" class="button" mat-flat-button color="primary" [routerLink]="['/search-users']">Search for
      friends
    </button>
    <button *ngIf="canChat()" class="button" mat-flat-button color="primary" [routerLink]="['chat']">
      Chat
    </button>
  </div>

  <app-user-settings></app-user-settings>

  <mat-divider></mat-divider>
  <app-achievements *ngIf="profile.userId; else downloadingSpinner"
                    [profileId]="this.profile.userId"></app-achievements>

  <ng-template #downloadingSpinner>
    <mat-progress-spinner>
    </mat-progress-spinner>
  </ng-template>

</div>
