<div class="container">

  <!--  <app-user-item [profile]="profile"></app-user-item>-->

  <div class="details">

    <div class="avatar">
      <a [href]="profile.photoPath" referrerpolicy="no-referrer" target="_blank">
        <img class="avatar-image"
             [src]="profile.photoPath" alt="Avatar" (error)="profile.photoPath = 'assets/images/default_avatar.jpg'">
      </a>
    </div>

    <div class="info">
      <span>Full name: {{profile.fullName}}</span>
      <span>Email: {{profile.email}}</span>
      <span>Registered at: {{profile.createdAt | date: ('MMM d, y')}}</span>
    </div>
  </div>

  <div class="user-actions">
    <button *ngIf="canEdit()" class="button" mat-flat-button color="primary" [routerLink]="['edit']">
      Edit profile
    </button>
    <button *ngIf="isLogged" class="button" mat-flat-button color="primary" [routerLink]="['/activities']">View
      activities
    </button>
    <button *ngIf="isLogged" class="button" mat-flat-button color="primary" [routerLink]="['/search-users']">Search for
      friends
    </button>
    <button *ngIf="canChat()" class="button" mat-flat-button color="primary" [routerLink]="['chat']">
      Chat
    </button>
  </div>

  <!--  <div class="details">-->

  <!--    <div class="avatar center">-->
  <!--      <img width="128" height="128" style="border-radius: 100%;"-->
  <!--           [src]="profile.photoPath" alt="Avatar">-->
  <!--    </div>-->

  <!--    <div class="info">-->
  <!--      <span>Full name: {{profile.fullName}}</span>-->
  <!--      <span>Email: {{profile.email}}</span>-->
  <!--      <span>Registered at: {{profile.createdAt | date: ('MMM d, y')}}</span>-->
  <!--    </div>-->
  <!--    <div class="button center" *ngIf="canEdit()">-->
  <!--      <button class="button" mat-flat-button color="primary" [routerLink]="['edit']">-->
  <!--        Edit profile-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->
  <mat-divider></mat-divider>

  <app-achievements *ngIf="profile.userId; else downloadingSpinner"
                    [profileId]="this.profile.userId"></app-achievements>

  <ng-template #downloadingSpinner>
    <mat-progress-spinner>
    </mat-progress-spinner>
  </ng-template>

</div>
