<div class="suggest-book-container">
  <form class="submit-form" (ngSubmit)="submit()" name="suggest-book-form" #suggestBookForm="ngForm">
    <div class="submit-row">
      <label for="book_title"></label>
      <mat-form-field class="form-field">
        <input matInput type="text" id="book_title" name="book_title" placeholder="Book title"
               [(ngModel)]="book.title" required minlength="2" #bookTitle="ngModel">
      </mat-form-field>
    </div>
    <div class="submit-row">
      <ng-select #bookAuthors="ngModel" class="custom" [multiple]="true" [(ngModel)]="book.authors" addTag="true"
                 name="selectedAuthors" required
                 id="book_authors"
                 placeholder="Authors" (search)="searchAuthors($event)" minTermLength="2">
        <ng-option *ngFor="let bookAuthor of authors"
                   [value]="{authorId: bookAuthor.authorId, fullName: bookAuthor.fullName}">{{bookAuthor.fullName}}</ng-option>
      </ng-select>
    </div>
    <div class="submit-row">
      <ng-select #bookGenres="ngModel" class="custom" [multiple]="true" [(ngModel)]="book.genres" addTag="true"
                 name="selectedGenres" required
                 id="book_genres"
                 placeholder="Genres" (search)="searchGenres($event)" minTermLength="2">
        <ng-option *ngFor="let bookGenre of genres"
                   [value]="{genreId: bookGenre.genreId, name: bookGenre.name}">{{bookGenre.name}}</ng-option>
      </ng-select>
    </div>
    <div class="submit-row">
      <label for="book_publish_year"></label>
      <mat-form-field class="form-field">
        <input #bookPublishYear matInput type="number" min="0" id="book_publish_year" name="book_publish_year" required
               placeholder="Book publish year"
               [(ngModel)]="book.publishYear">
      </mat-form-field>
    </div>
    <div class="submit-row">
      <label for="book_isbn"></label>
      <mat-form-field class="form-field">
        <input #bookIsbn="ngModel" required matInput type="text" pattern="([0-9]{9})|([0-9]{13})" id="book_isbn"
               name="book_isbn"
               placeholder="Book isbn"
               [(ngModel)]="book.isbn">
      </mat-form-field>
    </div>
    <div class="submit-row">
      <label for="book_publishing_house"></label>
      <mat-form-field class="form-field">
        <input #bookPublishingHouse="ngModel" required matInput type="text" id="book_publishing_house"
               minlength="2"
               name="book_publising_house"
               placeholder="Book publishing house"
               [(ngModel)]="book.publishingHouse">
      </mat-form-field>
    </div>
    <div class="submit-row">
      <label for="book_release"></label>
      <mat-form-field class="form-field">
        <input #bookRelease="ngModel" required matInput type="date" id="book_release" name="book_release_date"
               [(ngModel)]="book.release" placeholder="Book release date">
      </mat-form-field>
    </div>
    <div class="submit-row">
      <label for="book_description"></label>
      <mat-form-field class="form-field">
        <textarea #bookDescription="ngModel" matInput type="text" rows="6" id="book_description" name="book_description"
                  required
                  placeholder="Book description"
                  minlength="50"
                  [(ngModel)]="book.description"></textarea>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div class="nav-footer">
      <div class="messages">
        <!--        book title validation-->
        <app-validation-error
          [in]="bookTitle"
          requiredMessage="Title is required"
          invalidFormatMessage="Title must consists of at least 2 characters"></app-validation-error>
        <!--        book authors validation-->
        <app-validation-error
          [in]="bookAuthors"
          requiredMessage="Author is required"
          invalidFormatMessage="Author must consists of at least 2 chars"></app-validation-error>
        <!--        book genres validation-->
        <app-validation-error
          [in]="bookGenres"
          requiredMessage="Genre is required"
          invalidFormatMessage="Genre must consists of at least 2 chars"></app-validation-error>
        <!--        book publish year-->
        <app-validation-error
          [in]="bookPublishYear"
          requiredMessage="Publish year is required"
          invalidFormatMessage="Publish year must be positive"></app-validation-error>
        <!--        book isbn code-->
        <app-validation-error
          [in]="bookIsbn"
          requiredMessage="ISBN code is required"
          invalidFormatMessage="ISBN code must consist of 9 or 13 digits"></app-validation-error>
        <!--        book publishing house-->
        <app-validation-error
          [in]="bookPublishingHouse"
          requiredMessage="Publishing house is required"
          invalidFormatMessage="Publishing house must consists of at least 2 chars"></app-validation-error>
        <!--        book release date-->
        <app-validation-error
          [in]="bookRelease"
          requiredMessage="Release date is required"
          invalidFormatMessage=""></app-validation-error>
        <!--        book description-->
        <app-validation-error
          [in]="bookDescription"
          requiredMessage="Book description is required"
          invalidFormatMessage="Book description code must consist at least 50 chars"></app-validation-error>
      </div>
      <div class="button-card">
        <button class="button" type="submit" mat-flat-button color="primary"
                [disabled]="!suggestBookForm.valid || awaitingResponse">Suggest
        </button>
      </div>
    </div>
  </form>
</div>
