.container{
  font-size: 20px;
}
.button {
  height: 50px;
  width: 220px;
  font-size: 18px;
  margin: 10px;
}

.submit-form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  padding-bottom: 40px;
}

.submit-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 600px;
}

.label {
  width: 170px;
}

@media (max-width: 768px) {

  .submit-row {
    flex-flow: row wrap;
    text-align: center;
  }

  .container {
    font-size: 20px;
  }

  .button {
    width: 180px;
  }

  .form-field, .input {
    width: 300px;
  }

}

.nav-footer {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.text-danger {
  color: red;
}

.center{
  text-align: center;
}

.center-margin {
  margin: 40px 30px 30px 30px;
  font-size: 25px;
  color: #522bff;
  text-align: center
}
