<div class="container">

  <form class="submit-form" #regForm="ngForm" novalidate >
    <div class="submit-row">
      <label class="label" for="userId">Enter id</label>
      <mat-form-field class="form-field">
        <input required name="UserId" #UserId="ngModel" type="text" id="UserId" matInput
                placeholder="id" [(ngModel)]="userId">
      </mat-form-field>
    </div>
  </form>

      <mat-divider></mat-divider>


  <div class="nav-footer">
      <button class="button" [disabled]="!regForm.valid" mat-flat-button color="primary" (click)='deleteUser()'>Delete user</button>
    </div>

  </div>
