<div id="username-page" class="username-page">

  <div class="chat-container">
    <div class="chat-header">
      <h2>Chatting</h2>
    </div>
    <ul *ngFor="let message of messages">From: {{message.fromUserName}}, Message: {{message.content}} </ul>
    <form [formGroup]="form" *ngIf="isLoaded">
      <div class="form-group">
        <div class="input-group clearfix">
          <input type="text" formControlName="message" name="message" id="message" placeholder="Type a message..."
                 autocomplete="off" class="form-control">
          <button mat-raised-button color="primary" [disabled]="false" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </form>

    <br>
  </div>
  <!--  <div *ngIf="isError">-->
  <!--    <p class="error">-->
  <!--      Select please a friend-->
  <!--    </p>-->
  <!--  </div>-->
</div>
<button (click)="goBack()">go back</button>
