.rating-span {
  font-family: Raleway /* Replace with your custom font */, sans-serif !important;
  margin-right: 50px;
}
.add-book-review-container {
  font-size: 20px;
}

button {
  height: 50px;
  width: 180px;
  font-size: 18px;
  margin: 10px;
}

.submit-form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  padding-bottom: 40px;
}

.submit-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 600px;
}

.nav-footer {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.text-danger {
  color: red;
}
.messages {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 5px 0 15px;
}
.button-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


