
/* Mobile screen + version*/

@media screen and (max-width: 767px) {


  .buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;

  }
  .content{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    cursor: pointer;
    outline-style: none;



  }

  .header{
    background-image: url(../../../assets/images/header-image-2.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 120px;
    color: var(--color1);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }




  button{
    padding: 1vh 1vw;
    background:linear-gradient(to top right, rgba(155, 1, 139, 1.0), rgba(40, 23, 142, 1.0));
    margin-left: 20px;
    border: none;
    outline: none;
    color: white;
    outline-style: none;
    font-size: 15px;
  }

  button:hover{

    padding: 1vh 1vw;
    background: rgb(0,0,255,0.5);
    color: gray;
    outline-style: none;


  }
  a {
    color: inherit;
    text-decoration: inherit;
  }

}

/* Tablet screen + version*/

@media screen and (min-width: 768px) {


  .header{
    position: relative;
    background-image: url(../../../assets/images/header-image-2.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120px;
    color: var(--color1);
    margin: auto;
    position: relative;


  }

  .content{
    position: absolute;
    left: 5%;
    bottom: 20%;
    background-color: rgb(0, 0,0,0.5);
    color: white;
    font-size: 3vw;
    cursor: pointer;
    outline: none;
    border: none;

  }

  .buttons{
    position: absolute;
    right: 10%;
    bottom: 20%;
    display: flex;
  }

  button{
    background:linear-gradient(to top right, rgba(155, 1, 139, 1.0), rgba(40, 23, 142, 1.0));
    padding: 1vh 1vw;
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 1vw;
    color: white;
  }

  button:hover{

    background: rgb(0,0,255,0.5);
    color: gray;

  }

  a {
    color: inherit;
    text-decoration: inherit;

  }
  button :hover{
    padding: 1vh 1vw;
    background: white;
    color: black;
  }
}
