  <div class="header">
  <div class="content" routerLink="/">
    NetcrackerLibrary
  </div>

  <div class="buttons">
    <ng-container *ngIf='!isLogged;else alreadyLogged'>
      <button class="button-header" type="button"  mat-stroked-button routerLink= "/login">Sign in</button>
      <button class="button-header" type="button"  mat-stroked-button  routerLink="/register">Sign up</button>
    </ng-container>
    <ng-template #alreadyLogged>
      <app-notification-menu></app-notification-menu>
      <mat-icon class="header-icon" routerLink="/calendar">calendar_today</mat-icon>
      <button class="button-header" type="button"  mat-stroked-button routerLink="/logout" (click)="onLogout()">Sign out</button>
    </ng-template>
  </div>

</div>
