<div class="header">
  <div class="content" routerLink="/">
    NetCrackerLibrary
  </div>

  <div class="buttons">
    <ng-container *ngIf="!isLogged(); else alreadyLogged">
      <button class="btn btn-secondary" routerLink="/login">Sign in</button>
      <button type="button" class="btn btn-secondary" routerLink="/register">Sign up</button>
    </ng-container>
    <ng-template #alreadyLogged>
      <button class="btn btn-secondary" routerLink="/logout">Sign out</button>
    </ng-template>
  </div>

</div>
