<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close" (click)="goBack()"></div>
      <div class="button choose" [matMenuTriggerFor]="friends"></div>
        <mat-menu #friends="matMenu">
          <mat-form-field>
            <mat-select placeholder="Select friends" multiple [(ngModel)]="usersId" (closed)="openAfterClosingSelect()" >
              <mat-option *ngFor="let user of this.users" [value]="user.userId" >{{user.fullName}} </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button class="button position" mat-flat-button color="primary" (click)="addFriendsToChat(usersId)">
            Add friends
          </button>
        </mat-menu>
      </div>

    <div class="title">{{chatName}}</div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400"
                               class="example-viewport" #scroll [scrollTop]="scroll.scrollToIndex(count)">
    <ul class="message" *ngFor="let message of messages">
      <div class="currentUser" *ngIf="checkCurrentUser(message.fromUserName)">
        {{message.fromUserName}}: {{message.content}}
      </div>
      <div class="friend" *ngIf="checkFriend(message.fromUserName)">
        {{message.fromUserName}}: {{message.content}}
      </div>
    </ul>
  </cdk-virtual-scroll-viewport>

  <form [formGroup]="form" *ngIf="isLoaded">
    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <input type="text" formControlName="message" name="message"
               id="message_input_value" class="message_input"
               placeholder="Message"/>
      </div>
      <button mat-raised-button color="primary" class="send_message" [disabled]="form.invalid" (click)="sendMessage()">
        Send
      </button>
    </div>
  </form>
</div>

