<div class="container">

  <app-show-hide [label]="'Verb'" [styles]="{'margin-left': '55px'}">
    <div class="submit-container">
      <div *ngFor="let el of dataSource.data[0].children">
        <mat-radio-button class="margin-row" (click)="click(el)" name="verb">
          {{el.name}}
        </mat-radio-button>
      </div>
    </div>
  </app-show-hide>

  <app-show-hide [label]="'Subject'" [styles]="{'margin-left': '65px'}">
    <div class="submit-container">
      <div *ngFor="let el of subjectDataSource.data[0].children" class="checkbox-row">
        <mat-radio-button class="radio-button" (click)="chooseSubject(el.name)" name="subject">
          {{el.name}}
        </mat-radio-button>
      </div>
    </div>
  </app-show-hide>

  <app-show-hide [label]="'Count'" [styles]="{'margin-left': '70px'}">
    <div class="submit-row">
      <label class="label" for="count">Count</label>
      <mat-form-field>
        <input matInput placeholder="for example, 25" type="number" [(ngModel)]="achievementReq.count"
               id="count" class="name-achievement">
      </mat-form-field>
    </div>
  </app-show-hide>

  <app-show-hide [label]="'Name'" [styles]="{'margin-left': '65px'}">
    <div class="submit-row">
      <label class="label" for="name-achievement">Name</label>
      <mat-form-field class="name-achievement">
        <input matInput placeholder="'Professional book reviewer'" type="text"
               [(ngModel)]="this.achievementReq.name" id="name-achievement">
      </mat-form-field>
    </div>
  </app-show-hide>

  <app-show-hide [label]="'Books'" [styles]="{'margin-left': '55px'}">

    <div>
      <app-show-hide [label]="'Pages'" [styles]="{'margin-left': '70px'}">
        <div class="submit-container">
          <div class="submit-row">
            <label class="label" for="page-count-from">From</label>
            <mat-form-field>
              <input id="page-count-from" matInput placeholder="for example, 100" type="number">
            </mat-form-field>
          </div>
          <div class="submit-row">
            <label class="label" for="page-count-to">To</label>
            <mat-form-field>
              <input id="page-count-to" matInput placeholder="for example, 430" type="number">
            </mat-form-field>
          </div>
        </div>
      </app-show-hide>
      <app-show-hide [label]="'Genres'" [styles]="{'margin-left': '68px'}">
        <div class="paginator-container">
          <div *ngFor="let el of genreNameArray | slice:startIndex :endIndex">
            <div class="checkbox-row">
              <mat-checkbox class="mat-checkbox" (click)="addGenre(el)" name="genreParams">
                {{el}}
              </mat-checkbox>
            </div>
            <mat-divider></mat-divider>
          </div>
          <mat-paginator class="paginator" [length]="genreNameArray.length" [pageSize]="pageSize"
                         (page)="getPaginatorData($event)">
          </mat-paginator>
        </div>
      </app-show-hide>

      <app-show-hide [label]="'Voter count'" [styles]="{'margin-left': '105px'}">
        <div class="submit-container">
          <div class="submit-row">
            <label class="label" for="voters-count-from">From</label>
            <mat-form-field>
              <input id="voters-count-from" matInput placeholder="for example, 10" type="number"
                     [(ngModel)]="votersCount.from">
            </mat-form-field>
            <br>
          </div>
          <div class="submit-row">
            <label class="label" for="voters-count-to">To</label>
            <mat-form-field>
              <input id="voters-count-to" matInput placeholder="for example, 25" type="number"
                     [(ngModel)]="votersCount.to">
            </mat-form-field>
          </div>
        </div>
      </app-show-hide>

      <app-show-hide [label]="'Release date'" [styles]="{'margin-left': '120px'}">
        <div *ngIf="chosenSubject==='books'" class="submit-container">
          <div class="submit-row">
            <label class="label" for="from-date">From</label>
            <mat-form-field>
              <input matInput placeholder="for example, 10.02.1998" type="date" [(ngModel)]="chosenDate.from"
                     id="from-date" class="name-achievement">
            </mat-form-field>
          </div>
          <div class="submit-row">
            <label class="label" for="to-date">To</label>
            <mat-form-field>
              <input matInput placeholder="for example, 04.11.2019" type="date" [(ngModel)]="chosenDate.to"
                     id="to-date">
            </mat-form-field>
          </div>
        </div>
      </app-show-hide>

      <app-show-hide [label]="'Reserved params'" [styles]="{'margin-left': '150px'}">
        <div class="submit-container">
          <div class="submit-row" *ngFor="let el of reservedDataSource.data[0].children">
            <mat-checkbox class="label">
              {{el.name}}
            </mat-checkbox>
            <mat-form-field class="option-container">
              <mat-label>Select top size</mat-label>
              <mat-select [(value)]="topSize">
                <mat-option>None</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="100">100</mat-option>
                <mat-option value="all">all</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </app-show-hide>
    </div>
  </app-show-hide>

</div>
