.container {
  font-size: 18px;
  display: flex;
  flex-flow: row wrap;
}

header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.container > * {
  margin-bottom: 20px;
  font-size: 18px;
}

.label {
  width: 150px;
}

.large-label {
  width: 250px;
}

.submit-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-container {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.paginator-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}


.checkbox-row {
  padding: 10px;
}

.margin-row {
  padding-top: 10px;
}

.name-achievement {
  width: 250px;
}

.paginator {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 10px;
}

.option-container {
  margin-left: 40px;
  width: 150px;
}

.invisible {
  display: none;
}

.large-text-area {
  width: 250px;
}

.button {
  font-size: 18px;
  width: 120px;
}

.button-wrapper {
  position: absolute;
  margin-left: 33%;
}

@media (max-width: 768px) {
  .button-wrapper {
    position: relative;
    margin-left: 0;
    padding: 10px;
  }

  .large-text-area {
    width: 200px;
  }

  .button {
    font-size: 16px;
    width: 100px;
  }

  .submit-row {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .large-label {
    width: 150px;
  }

  .container, .container > * {
    font-size: 16px;
    flex-direction: column;
  }

  .option-container {
    margin-left: 20px;
    width: 120px;
  }

  .name-achievement {
    width: 200px;
  }
}



