.container {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none;
}

.tree-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tree-container > * {
  margin: 20px;
}

.genres-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 8%;
}

.achievement-row {
  padding: 10px;
}

.paginator {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 10px;
}


.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.button {
  height: 50px;
  width: 180px;
  font-size: 18px;
  margin: 10px;
}


@media (max-width: 768px) {

  .container, .button {
    font-size: 18px;
  }

  .tree-container {
    display: flex;
    flex-direction: column;
  }

  .tree-container > * {
    margin: 0;
  }

}

.nav-footer {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-footer:nth-child(1) {
  order: -1;
}



