@media screen and (min-width:800px){
  .buttons{
    width: auto;
    height: auto;
    display: inline-block;
    float: right;
    margin-right: 20px;;
    margin-top: 105px;
  }
  .app-announcement-list{
    width: auto;
  }
}
@media screen and (max-width:799px ) and (min-width:617px) {
  .buttons {
    width: auto;
    height: auto;
    display: inline-block;
    float: right;
    font-size: smaller;
    margin-right: 20px;
    bottom: -110px;
  }
}
@media screen and (max-width:616px ) and (min-height: 577px) {
  .buttons {
    height: auto;
    width: auto;
    display: inline-block;
    font-size: 10px;
    float: right;
    margin-right: 20px;
    bottom: -110px;
  }
}
@media screen and (max-width:615px ) and (min-height: 376px){
  .buttons {
    height: 30px;
    width: auto;
    display: inline-block;
    font-size: 8px;
    float: right;
    text-align: center;
    margin-right: 20px;
    margin-top: 12px;
  }
}
@media screen and (max-width:375px ) and (max-height: 812px){
  .buttons {
    display: flex;
    height: 25px;
    width: auto;
    font-size: 8px;
    text-align: center;
    margin-right: 20px;
    bottom: -130px;
  }
}
@media screen and (max-width:320px ) and (max-height: 568px){
  .buttons {
    display: flex;
    height: 25px;
    width: auto;
    font-size: 8px;
    text-align: center;
    margin-right: 20px;
    margin-top: 30px;
  }
}

