.mat-card {
  margin: 10px;
  padding: 16px;
  display: flex;
  background-color: inherit;
  /*width: 90%;*/
}

.mat-card-header {
  /* CSS styles go here */
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/
  /*margin-bottom: 5px;*/
}

.mat-card-title {
  /*margin-left: 16px;*/
  /*margin-right: 16px;*/
  margin-bottom: 12px;
}

.mat-card-subtitle {
  margin: -8px 16px 16px;
}

.mat-card-content {
  margin-bottom: 16px;
  background-color: inherit;
  /*margin-left: 16px;*/
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin-left: -8px;*/
  /*margin-right: -8px;*/
  /*margin-bottom: -8px;*/
}

.bolder-text{
  font-weight: bolder;
}

.item-photo{
  min-width: 30%;
  max-width: 30%;
  height: initial;
  border-radius: 5px;
  margin-right: 15px;
}

.mat-card-actions button{
  /*background-color: inherit;*/
  /*color: black;*/
  background-color: black;
  color: white;
  font-weight: bolder;
  margin-right: 10px;
}

@media screen and (min-width: 768px){
  .item-photo{
    max-height: 350px;
  }
}

@media screen and (max-width: 767px){

  .mat-card-subtitle{
    display: none;
  }

  .item-photo{
    min-height: 120px;
    max-height: 200px;
  }
}
