<div class="mat-card">
  <ng-container *ngIf="listItemInfo.photoPath">
    <img [src]="listItemInfo.photoPath" alt="" (error)="img.src = 'assets/images/not_found.jpg'" class="item-photo" #img/>
  </ng-container>
  <div class="item-info">
    <div class="mat-card-header">
      <div class="mat-card-header-text">
        <div class="mat-card-title">{{listItemInfo.title}}</div>
        <div class="mat-card-subtitle">{{listItemInfo.subtitle}}</div>
      </div>
    </div>
    <div class="mat-card-content">
      <p *ngFor="let element of listItemInfo.contentElements" [attr.id]="element.contentInfoId">
        <span class="bolder-text">{{element.title}}</span> {{element.content}}
      </p>
    </div>
    <div class="mat-card-actions">
      <!-- <button *ngFor="let element of listItemInfo.actionElements" mat-button
              [attr.id]="element.buttonInfoId" [routerLink]="element.url" [disabled]="element.disabled"
              (click)="element.clickFunction() ">
        {{element.name}}</button> -->
      <ng-container *ngFor="let element of listItemInfo.actionElements">
        <button *ngIf="!element.hidden" mat-button [attr.id]="element.buttonInfoId" [routerLink]="element.url" [disabled]="element.disabled" (click)="element.clickFunction()">
          {{element.name}}
        </button>
      </ng-container>
    </div>
  </div>
</div>
