<div class="mat-card">
  <img [src]="photoSource" alt="book-photo" class="book-photo"/>
  <div class="book-info">
    <div class="mat-card-header">
      <div class="mat-card-header-text">
        <div class="mat-card-title">{{title}}</div>
        <div class="mat-card-subtitle">{{subtitle}}</div>
      </div>
    </div>
    <div class="mat-card-content">
      <p><span>Authors:</span> {{authors}}</p>
      <p><span>Genres:</span> {{genres}}</p>
    </div>
    <div class="mat-card-actions">
      <ng-container *ngIf="url; else elseBlock">
        <button mat-button class="book-details-btn" routerLink="{{url}}">{{btnText}}</button>
      </ng-container>
      <ng-template #elseBlock>
        <button mat-button class="book-details-btn" (click)="listItemCallback()">Go Back</button>
      </ng-template>
      <ng-container *ngIf="isModerator()">
        <ng-container *ngIf="overviewsUrl; else overviewsElseBlock">
          <button mat-button class="book-overviews-btn" routerLink="{{overviewsUrl}}">{{overviewsBtnText}}</button>
        </ng-container>
        <ng-template #overviewsElseBlock>
          <button mat-button class="book-overviews-btn" (click)="overviewsItemCallback()">Go Back</button>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
