
<app-header></app-header>

<!--<div class="search-wrapper">-->
<!--  <app-search-books></app-search-books>-->
<!--</div>-->


<!--<app-book-list>-->
<!--</app-book-list>-->


<nav mat-tab-nav-bar >

  <div *ngFor="let link of navLinks" >
  <a mat-tab-link *ngIf="link.access"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [routerLinkActiveOptions]="{exact:true}"
  [active]="rla.isActive">
  {{link.label}}
  </a>
  </div>

</nav>
<div class="wrapper">
<router-outlet></router-outlet>
<div class="push" ></div>

</div>


<app-footer></app-footer>
