<div class="container">

  <form class="submit-form" (ngSubmit)="submit()" *ngIf="!submitted">

    <div class="submit-row">
      <label class="label" for="email">Enter email</label>
      <mat-form-field class="form-field">
        <input name="email" type="text" id="email" matInput placeholder="Email" [(ngModel)]="email">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="nav-footer">
      <button class="button" type="submit" mat-flat-button color="primary">Recover</button>
    </div>

  </form>

  <div *ngIf="message">
    <p class="error" *ngIf="isError; else ok">
      {{message}}
    </p>
    <ng-template #ok>
      <p class="message">{{message}}</p>
    </ng-template>
  </div>

  <div class="message" *ngIf="isDownloading">Sending...</div>

</div>


