


<div class="calendar-container">
  <app-selector></app-selector>


  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let week of calendar">
      <td
        *ngFor="let day of week.days"
        [class.disabled]="day.disabled"
        [class.selected]="day.selected"
        [class.active]="day.active"
        (click)="select(day.value)"
      >
        <span>
          {{ day.value | moment:'DD' }}
        </span>
        <div class="calendar-announcement-icon"
             *ngIf="hasAnyAnnouncements(day)">


        <ng-template #HtmlContent>
          <p></p>
          <p>{{day.announcements[0].title}}</p>
          <p>{{day.announcements[1].title}}</p>

        </ng-template>

          <mat-icon
            [tooltip]="HtmlContent"
            content-type="template"
            placement="top"
            [animation-duration]="2000"
            aria-label="Button that displays a tooltip when focused or hovered over">
            announcement
          </mat-icon>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
