<div class="container">
  <div class="details">
    <div class="avatar center">
      <img width="128" height="128" style="border-radius: 100%;"
           [src]="profile.photoPath" alt="Avatar">
    </div>
    <div class="info">
      <span>Full name: {{profile.fullName}}</span>
      <span>Email: {{profile.email}}</span>
      <span>Registered at: {{profile.createdAt | date: ('MMM d, y')}}</span>
    </div>
    <div id="user_operations">
      <button class="custom-button round-button"
              *ngIf="this.friendStatus && !this.friendStatus.friend && !this.friendStatus.awaitFriendRequestConfirmation && !this.friendStatus.declinedFriendRequest"
              (click)="sendFriendRequest()"
              mat-stroked-button
              matTooltip="Send friend request"
      >
        <mat-icon>person_add</mat-icon>
      </button>
      <button class="round-button custom-button"
              *ngIf="(this.friendStatus) && (this.friendStatus.friend === true)" mat-stroked-button
              (click)="deleteFromFriends()"
              matTooltip="Delete from friends">
        <i class="material-icons">person_add_disabled</i>
      </button>
      <button class="round-button custom-button"
              *ngIf="this.friendStatus && (this.friendStatus.friend === false) && (this.friendStatus.awaitFriendRequestConfirmation === true)"
              mat-stroked-button
              matTooltip="Friend request has been sent"
      >
        <mat-icon class="yellow-color">person_add</mat-icon>
      </button>
      <button class="round-button custom-button"
              *ngIf="this.friendStatus && (this.friendStatus.friend === false) && (this.friendStatus.declinedFriendRequest === true)"
              mat-stroked-button
              matTooltip="User declined your friend request"
      >
        <mat-icon class="red-color">person_add_disabled</mat-icon>
      </button>
    </div>
  </div>
</div>
