.container {
  font-size: 20px;
}

.submit-form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  padding-bottom: 40px;
}

.submit-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 1000pt;
}

.nav-footer {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


