<div class="container">

    <mat-divider></mat-divider>
    <p style="display:flex; justify-content:center; margin-top:5vh; ">Create moderator</p>

    <form class="submit-form" (ngSubmit)="submit()" #regForm="ngForm" novalidate *ngIf="!isRegistered; else registeredTemplate">

      <div class="submit-row">
        <label for="fullName">Enter name</label>
        <mat-form-field>
          <input required name="fullName" #fullName="ngModel" type="text" id="fullName" matInput
                 placeholder="Full name" [(ngModel)]="user.fullName">
        </mat-form-field>
      </div>

      <div class="submit-row">
        <label for="email">Enter email</label>
        <mat-form-field>
          <input required name="email" #email="ngModel" type="email" id="email" matInput placeholder="Email"
                 [(ngModel)]="user.email" email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </mat-form-field>
      </div>

      <div class="submit-row">
        <label for="password">Enter password</label>
        <mat-form-field>
          <input pattern="^.{6,}" required name="password" #password="ngModel" type="password" id="password" matInput
                 placeholder="Password" [(ngModel)]="user.password">
        </mat-form-field>
      </div>

      <div class="submit-row">
        <label for="confirmPassword">Confirm password</label>
        <mat-form-field>
          <input pattern="^.{6,}" required name="confirmPassword" #confirmPassword="ngModel" type="password"
                 id="confirmPassword" matInput
                 placeholder="Confirm password" [(ngModel)]="repeatPassword">
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>


    </form>

  </div>
