<div class="book-list-container">
  <ng-container *ngFor="let book of page.array">
    <app-book-item [title]="book.title"
                   [subtitle]="bookService.getBookSubtitle(book)"
                   [photo]="book.photo"
                   [authors]="bookService.getBookAuthorsString(book, 3)"
                   [genres]="bookService.getBookGenresString(book, 3)"
                   [url]="'/book/slug/' + book.slug"
                   [overviewsUrl]="'book-overviews/' + book.bookId"
                   [overviewsBtnText]="'View Overviews'">
    </app-book-item>
  </ng-container>
</div>
