h2 {
  text-align: center;
  padding-bottom: 15px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.achievements {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 8%;
}

.achievement-row {
  padding: 10px;
}


