.header {
  text-align: center;
  padding-bottom: 15px;
}

.container {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.container > * {
  font-size: 20px;
}

.achievement-row {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paginator {
  margin: 0 8% 10px;
}

.achievements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 15% 20px;
}

@media (max-width: 768px) {
  .achievements {
    align-items: center;
    margin: 0 0 20px;
  }
}

