<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <ng-container *ngIf="!selectedPage.array; else loaded">
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="selectedPage.array.length > 0; else noresults">
        <div class="app-announcement-list">
          <div *ngFor="let item of selectedPage.array">
            <app-friend-invitation-notification [notification]="item"></app-friend-invitation-notification>
            <ng-template #usual>
              <app-list-item [listItemInfo]="item"></app-list-item>
            </ng-template>
          </div>
          <mat-paginator [pageSize]="selectedPage.pageSize" [length]="selectedPage.countPages * selectedPage.pageSize"
                         [pageIndex]="selectedPage.currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </ng-container>
      <ng-template #noresults>
        <p class="no-results">No notifications yet</p>
      </ng-template>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
