<div class="container">

  <div class="details">

      <div class="avatar center">
        <img width="128" height="128" style="border-radius: 100%;"
             src="https://pickaface.net/gallery/avatar/unr_example_170227_1250_yq2lr.png" alt="Avatar">
      </div>

      <div class="info">
        <span>Name: Alexander</span>
        <span>Surname: Pushkin</span>
        <span>Email: alexanderpushkin1799@mail.rus</span>
        <span>Login: dantesss</span>
      </div>
    <div class="button center">
      <button mat-flat-button color="primary" (click)="edit()">Edit profile</button>
    </div>

  </div>
  <mat-divider></mat-divider>
  <div class="achievements">
    <mat-form-field>
        <textarea id="achievements" matInput placeholder="Achievements"></textarea>
    </mat-form-field>
  </div>

</div>
