<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <ng-container *ngIf="!selectedPage.array; else loaded">
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="selectedPage.array.length > 0; else noresults">
        <div class="app-announcements-management">
          <app-list-item-publish *ngFor="let announcement of selectedPage.array"
                                 [listItemInfo]="announcement"></app-list-item-publish>
          <mat-paginator [pageSize]="selectedPage.pageSize" [length]="selectedPage.countPages * selectedPage.pageSize"
                         [pageIndex]="selectedPage.currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </ng-container>
      <ng-template #noresults>
        <p class="no-results">No announcements yet</p>
      </ng-template>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
