<div class="container">

  <form class="submit-form" #regForm="ngForm" novalidate >
    <div class="submit-row">
      <label class="label" for="Email">Enter email</label>
      <mat-form-field class="form-field">
        <input required name="email" #Email="ngModel" type="text" id="email" matInput
                placeholder="Email" [(ngModel)]="email">
      </mat-form-field>
    </div>
  </form>

      <mat-divider></mat-divider>


  <div class="nav-footer">
      <span class="alert alert-danger center" *ngIf="isError">
          Error has happened. User was not deleted.
        </span>
        <span class="alert alert-success center" *ngIf="isDeleted">
          User was successfully deleted.
        </span>
      <button class="button" [disabled]="!regForm.valid" mat-flat-button color="primary" (click)='deleteUser()'>Delete user</button>
    </div>

  </div>
