<mat-card class="main-panel">
  <h1> Reviews </h1>
  <div *ngFor="let review of reviews; index as reviewInd">
    <mat-card class="review-block">

      <div class="review-block-body">

        <div class="review-profile-block">
          <img *ngIf="review.author.photoPath" class="review-avatar" src="{{ review.author.photoPath }}" alt="Avatar">
          <img *ngIf="!review.author.photoPath" class="review-avatar" src="{{ defaultPhotoPath }}" alt="Avatar">
        </div>

        <div class="review-content">
          <mat-card-title> {{ review.author.fullName }} </mat-card-title>
          <mat-card-subtitle> Date: {{ review.creationTime }} </mat-card-subtitle>
          <mat-card-title> Rate:  </mat-card-title>
          <p> {{ review.description }} </p>
        </div>

      </div>

      <mat-card-actions class="review-block-footer">
        <button mat-button color="primary" *ngIf="!showCommentsFlag[reviewInd]" (click)="showComments(reviewInd)">Show comments</button>
        <button mat-button color="primary" *ngIf="showCommentsFlag[reviewInd]" (click)="hideComments(reviewInd)">Hide comments</button>
      </mat-card-actions>

    </mat-card>

    <div>
      <app-book-review-comment *ngIf="showCommentsFlag[reviewInd]"
                               [reviewId]=review.bookReviewId>
      </app-book-review-comment>
    </div>

  </div>

  <mat-card-actions>
    <button mat-button color="primary" *ngIf="ableToExpand" (click)="expandReviews()">Show more</button>
  </mat-card-actions>

</mat-card>
