@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {
  mat-card.main-panel {
    margin-left: 100px;
    margin-right: 100px;
  }
}

mat-card.review-block {
  padding: 10px;
  margin: 10px;
}

div.review-block-body {
  display: flex;
  flex-direction: row;
}

div.review-profile-block {
  padding-right: 15px;
}

img.review-avatar {
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  max-width: 60px;
}

div.review-content {

}

mat-card-actions.review-block-footer {
  margin-top: 20px;
  padding: 10px;
}


