<mat-sidenav-container class="example-container">
  <mat-sidenav position="end" mode="side" opened style="width: 20%">
    <div align="center" *ngIf="isLogged()">
      <button type="submit" *ngIf="isUser" mat-flat-button color="primary" [routerLink]="['/announcements/add']">Add
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="!selectedPagePublish.array; else loaded">
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <ng-template #loaded>
      <ng-container *ngIf="selectedPagePublish.array.length > 0; else noresults">
        <div class="app-announcement-list">
          <app-list-item *ngFor="let bookOverview of selectedPagePublish.array"
                         [listItemInfo]="bookOverview"></app-list-item>
          <mat-paginator [pageSize]="selectedPagePublish.pageSize"
                         [length]="selectedPagePublish.countPages * selectedPagePublish.pageSize"
                         [pageIndex]="selectedPagePublish.currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </ng-container>
      <ng-template #noresults>
        <p class="no-results">No announcements yet</p>
      </ng-template>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
