<ul *ngIf="selectedPage">
  <li *ngFor="let announcement of selectedPage.array">
    <app-list-item [title]= "announcement.title"
                   [description] = "announcement.description"
                   [subtitle] = "announcement.creationTime | date:'d LLLL yyyy, h:mm'"
                   [url] = "announcement.announcementId"
                   [btnText] = "'View'"></app-list-item>
  </li>
</ul>
<mat-paginator [pageSize]="selectedPage.pageSize" [length]="selectedPage.countPages * selectedPage.pageSize"
               [pageIndex]="selectedPage.currentPage" (page)="handlePage($event)">
</mat-paginator>
