<mat-sidenav-container class="example-container">
  <mat-sidenav position="end" mode="side" opened style="width: 20%">
    <div align="center">
      <button type="submit" mat-flat-button color="primary" [routerLink]="['/announcements/add']">Add</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ul>
      <li *ngFor="let announcement of page.array">
        <app-list-item [title]= "announcement.title"
                       [description] = "announcement.description"
                       [subtitle] = "announcement.creationTime"
                       [url] = "announcement.announcementId"
                       [btnText] = "'View'"></app-list-item>
      </li>
    </ul>
  </mat-sidenav-content>
</mat-sidenav-container>
