/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/default.theme.css";


* {
  --color1: white;
  --footer-color: #A056A3;
  padding: 0;
  margin: 0;
  font-family: 'bembo';
}

html,
body {
  height: 100%;
}

.no-results, .loading {
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
  color: gray;
}

.mat-spinner {
  position: relative;
  margin: 50% auto;
}
