.container {
  font-size: 20px;
}

button {
  height: 50px;
  width: 180px;
  font-size: 18px;
  margin: 10px;
}

.submit-form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
  padding-bottom: 40px;
}

.submit-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

mat-form-field {
  width: 600px;
}

label {
  width: 165px;
}

@media (max-width: 768px) {

  .submit-row {
    flex-flow: row wrap;
  }

  .container, button {
    font-size: 18px;
  }

  mat-form-field {
    padding-top: 5px;
    width: 300px;
  }
}

.nav-footer {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.text-danger{
  text-align: center;
  color: red;
}

