<div class="container">

  <form #chPassForm="ngForm" class="submit-form" (ngSubmit)="submit()">

    <div class="submit-row">
      <label for="oldPassword">Enter old password</label>
      <mat-form-field class="form-field">
        <input #oldPassword="ngModel" [(ngModel)]="changePassEntity.oldPassword" required type="password"
               id="oldPassword" matInput placeholder="Old password" name="oldPassword">
      </mat-form-field>
    </div>

    <div class="submit-row">
      <label for="newPassword">Enter new password</label>
      <mat-form-field class="form-field">
        <input #newPassword="ngModel" [(ngModel)]="changePassEntity.newPassword" pattern="^.{6,}" required
               type="password" id="newPassword" matInput placeholder="New password" name="newPassword">
      </mat-form-field>
    </div>

    <div class="submit-row">
      <label class="form-label" for="confirmPassword">Confirm password</label>
      <mat-form-field class="form-field">
        <input #confirmPassword="ngModel" [(ngModel)]="changePassEntity.confirmPassword" pattern="^.{6,}" required
               type="password" id="confirmPassword" matInput placeholder="Confirm password" name="confirmPassword">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="nav-footer">
      <small class="text-danger" *ngIf="oldPassword.touched && oldPassword.invalid">Old password is required</small>
      <small class="text-danger" *ngIf="!newPassword.dirty && newPassword.touched && newPassword.invalid">New password is required</small>
      <small class="text-danger" *ngIf="newPassword.touched && newPassword.dirty && newPassword.invalid">New password must be at least 6 symbols</small>
      <span class="text-danger" *ngIf="errMessage">
          {{errMessage}}
        </span>

      <button mat-flat-button color="primary" class="button" [disabled]="!chPassForm.valid" type="submit">Save changes</button>
      <a class="link" mat-flat-button color="primary" [routerLink]="['../']">Back</a>
    </div>
  </form>
</div>
