<div class="container">

  <form class="submit-form" (ngSubmit)="save()">

    <div class="submit-row">
      <label for="oldPassword">Old password</label>
      <mat-form-field class="example-full-width">
        <input type="password" id="oldPassword" matInput placeholder="Old password" [value]="''">
      </mat-form-field>
    </div>

    <div class="submit-row">
      <label for="newPassword">New password</label>
      <mat-form-field class="example-full-width">
        <input type="password" id="newPassword" matInput placeholder="New password" [value]="''">
      </mat-form-field>
    </div>

    <div class="submit-row">
      <label for="confirmPassword">Confirm password</label>
      <mat-form-field class="example-full-width">
        <input type="password" id="confirmPassword" matInput placeholder="Confirm password" [value]="''">
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="nav-footer">
      <button mat-flat-button color="primary" routerLink="/profile">Back</button>
      <button mat-flat-button color="primary">Save changes</button>
    </div>

  </form>
</div>
