.container {
  font-size: 20px;
}

.checkboxList {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}

.button {
  height: 50px;
  width: 180px;
  font-size: 18px;
  margin: 10px;
}

.checkboxes {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.header {
  text-align: center;
  padding-bottom: 10px;
}

.submit-form {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 20px;
}

.submit-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.form-field {
  width: 600px;
}

.row-label {
  width: 120px;
}

.nav-footer {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.button:nth-child(2) {
  margin-left: 95px;
  margin-right: 95px;
}

@media (max-width: 768px) {
  .nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container, .button {
    font-size: 18px;
  }


  .form-field {
    width: 300px;
  }

  .row-label {
    width: 80px;
  }
  .button:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}

.checkbox {
  text-align: left;
  padding: 5px;
}

.errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

.errors > * {
  margin-bottom: 5px;
}

