<div class="container">

  <form class="submit-form" #editForm="ngForm" novalidate (change)="isUpdated=true">

    <div class="submit-row">
      <label for="name">Full name</label>
      <mat-form-field class="example-full-width">
        <input required id="name" matInput placeholder="Full name" [(ngModel)]="user.fullName"
               name="name" #fullName="ngModel">
      </mat-form-field>
    </div>

    <div class="submit-row">
      <label for="login">Login</label>
      <mat-form-field class="example-full-width">
        <input required id="login" matInput placeholder="Login" [(ngModel)]="user.login" name="login"
               #login="ngModel">
      </mat-form-field>
    </div>

    <div class="submit-row">
      <label for="email">Email</label>
      <mat-form-field class="example-full-width">
        <input required id="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email"
               #email="ngModel" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      </mat-form-field>
    </div>

    <div class="errors">
      <small class="text-danger" *ngIf="fullName.touched && fullName.invalid">Full name is required</small>
      <small class="text-danger" *ngIf="login.touched && login.invalid">Login is required</small>
      <small class="text-danger" *ngIf="email.touched && email.invalid">Please enter a valid email</small>
    </div>

  </form>

  <div class="checkboxes">
    <h2>Activity display options</h2>
    <div class="checkboxList">
      <ng-container *ngFor="let option of user.optionArr">
        <mat-checkbox class="example-margin" [(ngModel)]="option.subscribed">{{option.title}}</mat-checkbox>
      </ng-container>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="nav-footer">
    <button mat-flat-button color="primary" routerLink="/profile">Back</button>
    <button mat-stroked-button color="warn" routerLink="/profile/change-password">Change password</button>
    <button [disabled]="editForm.invalid || !isUpdated" mat-flat-button color="primary" (click)="save()">Save changes
    </button>
  </div>

</div>

