<div class="add-announcement-container">
  <form class="submit-form" (ngSubmit)="sendAnnouncement()">
    <div class="submit-row">
<!--      <label for="announcement_subject">Enter announcement subject</label>-->
      <div>
        <mat-form-field>
          <input type="text" id="announcement_subject" name="announcement_subject" matInput placeholder="Enter announcement subject"
                 [(ngModel)]="announcement.title">
        </mat-form-field>
      </div>
    </div>
    <div class="submit-row">
<!--      <label for="announcement_body">Enter announcement content</label>-->
      <div>
        <mat-form-field>
        <textarea type="text" name="announcement_body" id="announcement_body" matInput placeholder="Enter announcement content" rows="6"
                  [(ngModel)]="announcement.description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="nav-footer">
      <button type="submit" mat-flat-button color="primary">Send</button>
    </div>
  </form>
</div>
