.book-overview-button {
  width: 170px;
  height: auto;
  background: linear-gradient(to bottom left, rgb(101, 115, 255), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(206, 107, 168));
  padding: 10px;
  font-weight: bolder;
  color: white;
  outline-style: none;
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 12px;
}

.bolder-text{
  font-weight: bolder;
}

.book-overview-container{                           /*Container*/
  display: grid;
  margin: 0 5px;
  font-family: 'Roboto';
}

.book-overview-title{                               /*Title*/
  margin-top: 20px;
}

.book-overview-picture{                             /*Picture*/
  margin: 20px 10px;
}

.book-overview-overview{                            /*Overview*/
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.book-overview-overview div{
  padding: 5px;
}

.book-description{                                  /*Description*/
  margin: 20px 10px;
}

.book-description-header{
  padding: 5px 0;
}

@media screen and (min-width: 768px) {
  .book-overview-picture{
    min-width: 16vw;
    max-width: 16vw;
    min-height: 24vw;
    max-height: 24vw;
    border-radius: 20px;
  }

  .book-overview-container{
    grid-template-columns: fit-content(300px) 1fr;
    grid-template-rows: fit-content(100px) 2px fit-content(300px) auto 1fr;
    margin: 0 100px;
  }

  .book-overview-title{
    grid-column: span 2;
    grid-row: 1;
  }

  .book-overview-mat-divider{
    grid-column: span 2;
    grid-row: 2;
  }

  .book-overview-picture{
    grid-column: 1;
    grid-row: 3;
  }

  .book-overview-overview{
    grid-column: 2;
    grid-row: 3;
  }

  .book-description{
    grid-column: span 2;
    grid-row: 4;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait){
  .book-overview-picture{
    min-width: 25vw;
    max-width: 25vw;
    min-height: 37.5vw;
    max-height: 37.5vw;
    border-radius: 20px;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape){
  .book-overview-picture{
    min-width: 16vw;
    max-width: 16vw;
    min-height: 24vw;
    max-height: 24vw;
    border-radius: 20px;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape){
  .book-overview-picture{
    min-width: 25vw;
    max-width: 25vw;
    min-height: 37.5vw;
    max-height: 37.5vw;
    border-radius: 20px;
  }

  .book-overview-container{
    grid-template-columns: fit-content(300px) 1fr;
    grid-template-rows: fit-content(100px) 2px fit-content(300px) auto 1fr;
    margin: 0 16px;
  }

  .book-overview-title{
    grid-column: span 2;
    grid-row: 1;
  }

  .book-overview-mat-divider{
    grid-column: span 2;
    grid-row: 2;
  }

  .book-overview-picture{
    grid-column: 1;
    grid-row: 3;
  }

  .book-overview-overview{
    grid-column: 2;
    grid-row: 3;
  }

  .book-description{
    grid-column: span 2;
    grid-row: 4;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {

  .book-overview-title{
    text-align: center;
  }

  .book-overview-picture{
    min-width: 70vw;
    max-width: 70vw;
    min-height: 105vw;
    max-height: 105vw;
    border-radius: 15px;
    margin: 20px auto;
  }

  .book-overview-overview{
    margin: 20px auto;
  }

  .book-overview-container{
    grid-template-columns: 100%;
  }

  .book-overview-mat-divider{
    margin-bottom: 10px;
  }

  .book-overview-button{
    margin: 0 auto;
  }
}
